body {
    font-family: "Lato", sans-serif;
}


.sidenav {
    height: 100%;
    background-color: rgb(104, 44, 112);
    overflow-x: hidden;
    padding-top: 10px;
}


.main {
    padding-bottom:20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
        margin-bottom: 10%;
        padding-bottom: 10px;
    }

    }

@media screen and (min-width: 768px) {
    .main {
    
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 30%;
        
    }

}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: rgb(104, 44, 112) !important;
    color: #fff;
}